@charset "utf-8";
/* 表单控件 */

$border-color: rgba(255, 255, 255, 0.3);
$background-color: #07121d;
$text-color-active: #fff;
$height: 38px;
/* 输入框、下拉框 */

input[type=text],
select {
    box-sizing: border-box;
    width: 220px;
    height: $height;
    padding-left: 10px;
    padding-right: 10px;
    margin: 6px;
    font-size: 18px;
    background-color: $background-color;
    border: 1px solid $border-color;
    &:focus {
        border-color: $text-color-active;
    }
}

/* 按钮 */

input[type=button],
button {
    height: $height;
    font-size: 16px;
    font-weight: 100;
    border: 1px solid $border-color;
    background-color: $background-color;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.2s;
    &:hover {
        color: $text-color-active;
        border-color: $text-color-active;
    }
}

/* 文本域 */

textarea {
    background-color: $background-color;
    border: 1px solid $border-color;
}

/* placeholder */

input {
    &::-webkit-input-placeholder {
        color: #AAAAAA;
    }
    &:focus::-webkit-input-placeholder {
        color: #EEEEEE;
    }
}

/* 表单元素样式重置 */

.form-ctrl-reset {
    -webkit-appearance: none;
}