<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Pure JS Conponents</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <style>
        .pull-left{
            float: left;
        }
        .pull-right{
            float: right;
        }
        .clearfix:after{
            display: block;
            content: '';
            clear: both;
        }
        body{
            display: grid;
            grid-template-columns: 400px 400px 400px;
            grid-template-rows: 400px 400px;
        }
    </style>
</head>
<body>
    <script src="./radar.js"></script>
    <script src="./canvas画百分比圆环.js"></script>
    <script src="./DashBoard.js"></script>
    <script src="./FlowChart.js"></script>
    <script src="./loading.js"></script>
    <script src="./marquee.js"></script>
    <script src="./Pagination.js"></script>
    <script src="./ProgressBar.js"></script>
    <script src="./sort.js"></script>
</body>
</html>